body {
    background-color: black;
    width: 98%;
    box-shadow: gray 0px 0px 10px;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230722/pngtree-minimal-geometric-3d-background-with-golden-accent-for-luxurious-product-display-image_3784615.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
    }

.PageMainContainer {
    margin-top: 0vh;
    width: 100%;
    /* border: red solid 3px; */
    justify-self: center;
}

.VehiclesListContainerOnHomePage {
    width: 95%;
    display: flex;
    /* border: orange solid 3px; */
    justify-self: center;
}

.HomePageMainimageCentralContainer {
    border: wheat solid 1px;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    background-image: url('https://t4.ftcdn.net/jpg/06/92/61/21/360_F_692612180_XAUFLe7Mw3Vvef8H33QudG16RWh9H0d1.jpg');
    background-size: cover;
}

.HomaPageMainImageRightContainer {
    width: 50%;
    align-content: center;
    margin-top:25vh;
}

.HomaPageMainImageLeftContainer {
    width: 45%;
    color: orange;
    text-align: center;
    font-family: impact;
    font-size: 55px;
    margin-top: 25vh;
    align-self: center;
    justify-self: center;
}

.backLotLeftHeaderH1 {
    color: black;
    margin: 0px;
    background-color: orange;
    border: black solid 2px;
}

.backLotLeftHeaderH3 {
    color: orange;
    margin: 0px;
    background-color: black;
    border: orange solid 2px;
}

.ImageLoopContainer {
    width: 40vw;
    height: 43vh;
    border-radius: 10px;
    align-self: center;
    justify-self:last baseline;
    margin-top: 10vh;
    margin-left: 8vw;
}

.imageLoopVehiclesInfo {
    color: orange;
    text-shadow: black 2px 2px 2px;
    width: 49%;
    padding: 9px;
    border: orange solid 2px;
    border-radius: 10px;
    box-shadow: wheat 0px 0px 10px;
    
}

.HomePageAllVehicleHeaderContainer {
    margin-top: 3vh;
}

.HomePageListHeader {
    color: wheat;
    margin: 0px;
    margin-left: 3vw;
}

/* All Category Pages Styles */

.CatPageMainContainer {
    border: wheat solid 2px;
    width: 95vw;
    display: block;
    
}

.VehicleTypeCategoryHeader {
    color: wheat;
    padding-left: 3vw;
    border: wheat solid 1px;
    box-shadow: wheat 0px 0px 5px;
    text-shadow: black 1px 1px 5px;;
}

.CatVehcilesDisplayContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7vh;
}