@media (max-width: 40em) {
    .VehicleDetailsPageMainContainer {
        flex-direction: column;
    }    
    .VehicleDetailsPageVehicleMakeModel {
        min-width: 100%;
        min-height: fit-content;
    }
    .VehicleDetailsRightContainer
     {
        min-width: 90%;
    }
    .VehicleDetailsPageVehicleImageContainer,
    .VehicleImage {
        min-width:90%;
    }
    .VehicleDetailsBTNs {
        flex-direction: column;
        min-width:90%;
        min-height: fit-content;
    }
    .VehicleImage{
        max-height: fit-content;
    }
}

.vehicleDetailsPage {
    align-content: center;
    padding-top:3vh;
    margin: 0px;
    width: 100%;
}

.VehicleDetailsPageTitle {
    width: fit-content;
    margin-top: 25vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: brown;
    color: wheat;
    justify-self: center;
}

.VehicleDetailsPageMainContainer {
    align-self: center;
    justify-self: center;
    width: 90%;
    height:auto;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-items: center;
    justify-items: center;
}


.VehicleDetailsPageVehicleMakeModel {
    width: 50%;
    height: 52vh;
    align-self:center;
    align-content: center;
    border: orange solid 2px;
    border-radius: 10px;
    
    justify-items: center;
}

.VehicleDetailsPageHeader {
    color: brown;
    background-color: wheat;
    width: 90%;
    margin: 1vh;
    border: gray solid 3px;
    padding-left: 1vw;
    overflow: hidden;
}

.VehicleDetailsRightContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    height: 52vh
}
.VehicleDetailsPageVehicleImageContainer {
    display: flex;
    background-color: white;
    height: 40vh;
    width: 32vw;
    border: gray solid 2px;
    border-radius: 10px;;
    padding: 5vh;
    justify-self: center;
    justify-content: center;
    align-content: center;
    border: orange solid 2px;
}

.VehicleImage {
    width: 32vw;
    height: 38vh;
    justify-self: center;
    align-self: center;
}

.VehicleDetailsBTNs {
    width: 30vw;
    height: 6vh;
    align-content: center;
    justify-content: space-between;
    justify-self: center;
    display: flex;
    margin-bottom: 5vh;
    text-align: center;
}

.UpdateLink,
.DeleteLink {
    text-decoration: none;
    background-color: black;
    color: wheat;
    border: wheat solid 1px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    overflow: hidden;
    margin: 5px;;
}

.UpdateLink:hover,
.DeleteLink:hover {
    background-color: wheat;
    color: black;
    border: black solid 1px;
    cursor: pointer;
    box-shadow: wheat 0px 0px 10px;
}
    

