.VehicleDetailsPageMainContainer {
    align-self: center;
    width: 80vw;
    height:max-content;
    padding: 8vh;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-items: center;
}

.LinktoHomePageContainer {
    margin-top: 3vh;
    margin-left: 20px;
}

.LinkToHomePage {
    text-decoration: none;
    color: wheat;
    background-color: black;
    border: wheat solid 2px;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
.LinkToHomePage:hover{
    box-shadow: wheat 0px 0px 10px ;
    background-color: wheat;
    color: black;
}

.VehicleDetailsPageVehicleMakeModel {
    /* border: orange solid 3px; */
    width: 50%;
    align-self:flex-start;
    border: orange solid 2px;
    border-radius: 10px;
    background-color: rgb(75, 67, 47);
    justify-items: center;
}

.VehicleDetailsPageHeader {
    color: brown;
    background-color: wheat;
    width: 90%;
    margin: 1vh;
    border: gray solid 3px;
    padding-left: 1vw;
    overflow: hidden;
}

.VehicleDetailsRightContainer {
    justify-items: center;
    width: 60%;
    height: 60vh
}
.VehicleDetailsPageVehicleImageContainer {
    background-color: white;
    height: 38vh;
    width: 30vw;
    border: gray solid 2px;
    border-radius: 10px;;
    padding: 5vh;
    justify-self: center;
    align-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: orange solid 3px;
    
    margin-bottom: 6vh;
}

.VehicleImage {
    width: 32vw;
    height: 38vh;
    justify-self: center;
    align-self: center;
}

.VehicleDetailsBTNs {
    width: 30vw;
    height: 5vh;
    align-content: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 5vh;
}

.UpdateLink,
.DeleteLink {
    text-decoration: none;
    background-color: black;
    color: wheat;
    border: wheat solid 1px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    overflow: hidden;
}

.UpdateLink:hover,
.DeleteLink:hover {
    background-color: wheat;
    color: black;
    border: black solid 1px;
    cursor: pointer;
    box-shadow: wheat 0px 0px 10px;
    
}
    

