@media (max-width: 30em) {
    .AddNewVehicleFormContainer{
        width: 100vw;
        
    }    
    .AddNeVehicleMainContainer {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100vw;
    }
    .NewVehicleFormFields
    {
        flex-direction: column;
        width: 70vw;
        max-height: auto;
        margin-bottom: 10vh;
    }
    .NewVehicleAddBTNContainer {
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        padding: none;
    }
    .NewVehicleForm {
        display: flex;
        justify-items: center;
        width: 80vw;
    }

    .NewVehicleAddBTN {
        width: 95%;
        justify-self: center;
        margin: 10px;
    }
    .NewVehicleCancelLink {
        width: 75%;
        justify-self: center;
        margin-bottom: 10px;
    }

    select
     {
        width: 50vw;
     }

     input
     {
        width: 50vw;
     }

}

.AddNeVehicleMainContainer {
    margin-bottom: 5vh;
    width: 100%;
    border: wheat 1px solid
}

.AddnewVehicleMainTitle {
    color: wheat;
    background-color: brown;
    justify-self: center;
    width: 25vw;
    text-align: center;
    margin-top: 23vh
}

.AddNewVehicleFormContainer {
    height: auto;
    width: 80%;
    display: block;
    justify-self: center;
    margin-top: 5vh;
    /* border: orange solid 3px; */
    border-radius: 10px;
    padding-bottom: 3vh;
}

.NewVehicleForm {
    flex-direction: column;
    color: white;
}

.NewVehicleFormFields{
    display: flex;
}

.NewVehicleLabels {
    color: orange;
    margin-right: 3vw;
    display: flex;
    margin-top: 2vh;
}

.NewVehicleFormFirstSet {
    width: 50%;
    padding-left: 2vw;
}


.NewVehicleFormSecondtSet {
    width: 50%;
    padding-left: 2vw;

}


.NewVehicleAddBTNContainer {
    margin-top: 2vh;
    width: 100%;
    padding-top: 3vh;
    display: flex;
    justify-content: center; /* Aligns items to the left */
}

.NewVehicleAddBTN {
    border: wheat solid 1px;
    background-color: black;
    color: wheat;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.NewVehicleAddBTN:hover {
    border: black solid 1px;
    background-color: wheat;
    color: black;
    cursor: pointer;
    box-shadow: wheat 0px 0px 10px;;
}

.NewVehicleCancelLink {
    border: wheat solid 1px;
    background-color: black;
    color: wheat;
    padding-top: 0.9vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    text-decoration: none;
    margin-left: 2vw;
    text-align: center;
}

.NewVehicleCancelLink:hover {
    border: black solid 1px;
    background-color: wheat;
    color: black;
    cursor: pointer;
    box-shadow: wheat 0px 0px 10px;;
}