.VehicleCardMainContainer {
    background-color: rgb(250, 242, 227);
    border:gray solid 3px;
    border-radius: 10px;
    width: 18%;
    height: 22em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 1em;
    min-width: 20vw;
    box-shadow: wheat 0px 0px 10px;
}

.VehicleCardMainContainer:hover {
    box-shadow: orange 0px 0px 20px;
}


.VehicleHeaderCard {
    height: 3em;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0px;
    overflow: hidden;
}

.VehicleHeader{
    color: brown;
    margin: 0px;
}

.VehicleImageContainer {
    background-color: white;
    width: 85%;
    height: 50%;
    border: gray solid 2px;
    border-radius: 10px;;
    padding: 1vh;
    justify-self: center;
    align-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.CardVehicleImage {
    width: 90%;
    border-radius: 10px;
}

.VehicleCardInformation {
    border: orange solid 1px;
    margin: 0px;
    width: 90%;
    height: 4.5em;
    overflow: hidden;
    justify-self: center;
}

.VehicleCardInformationPrice {
    color: black;
    margin:0px;
    justify-self: right;
    margin-top: 3vh
}

.VehicleCardInformationMileage,
.VehicleCArdInformationColor {
    color: black;
    justify-self: left;
    margin: 0px;
    font-size: 18px;;
}

.VehicldeDetails {
    border: gray solid 2px;
    border-radius: 0px 0px 10px 10px ;
    background-color: black;
    width: 98%;
    justify-self: center;
    margin-top:1vh;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.LinkToVehicleDetails {
    text-decoration: none;
}

.VehicleDetailsHeader {
    color: wheat;
    justify-self: center;
    margin: 0px;
    
    
}

.VehicleDetailsHeader:hover {
    color:rgb(252, 211, 135);
    cursor: pointer;
}