.VehicleUpdatorHeader {
    color: wheat;
    background-color: brown;
    justify-self: center;
    padding-right: 10vw;
    padding-left: 10vw;
}

.CancelLink {
    text-decoration: none;
    margin-left: 10vw;
    background-color: black ;
    color: wheat;
    border: wheat solid 1px;
    padding: 1vh;
}

.CancelLink:hover {
    background-color: wheat ;
    color: black;
    border: black solid 1px;
    box-shadow: wheat 0px 0px 10px;
    cursor: pointer;
}